<h1>Todos</h1>
<button routerLink="">Go to home</button>

<section>
  <button (click)="add()">Add todo: </button>
  <ul>
    <li *ngFor="let todo of todos$ | async">
      <button (click)="update(todo.id)">{{ todo.label }}</button>:
      <ng-container *ngIf="todo.heroes; else noHeroes">
        <span *ngFor="let hero of todo.heroes">{{ hero.name }}, </span>
      </ng-container>
      <ng-template #noHeroes>
        <span>Loading</span>
      </ng-template>
    </li>
    <button (click)="updateAll()">Update all</button>
  </ul>
</section>
