<ng-container *ngIf="loading$ | async; else loaded">
  <span>Loading</span>
</ng-container>
<ng-template #loaded>
  <article>
    <a mat-button routerLink="../create">
      <span>Add a Stakholder</span>
      <mat-icon>add</mat-icon>
    </a>
  </article>
  <mat-nav-list>
    <ng-container *ngFor="let stakeholder of stakeholders$ | async">
      <a mat-list-item [routerLink]="['..', stakeholder.id, 'edit']">
        {{ stakeholder.name }}
      </a>
    </ng-container>
  </mat-nav-list>
</ng-template>
