<ng-container *ngIf="isLoggedIn | async; else signinTemplate">
  <h3 *ngIf="(profile$ | async)?.email as email">Welcome {{ email }}</h3>
  <div class="actions">
    <a mat-button routerLink="/organization">See Organization</a>
    <button mat-button (click)="signout()">Sign out</button>
    <button mat-button color="warn" (click)="delete()">Delete</button>
  </div>
</ng-container>
<ng-template #signinTemplate>
  <button mat-raised-button color="primary" (click)="signin()">Signin with Google</button>
  <div>
    <h4><em>Signup</em> with email and password</h4>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" [formControl]="signupForm.get('email')">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" [formControl]="signupForm.get('password')">
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="signup()" color="accent">Signup</button>
  </div>
  <div>
    <h4><em>Signin</em> with email and password</h4>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" [formControl]="signinForm.get('email')">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" [formControl]="signinForm.get('password')">
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="signupWithEmail()" color="accent">Signin</button>
  </div>
</ng-template>