<header>
  <auth-signin></auth-signin>
</header>
<section>
  <h1>Welcome</h1>
  <p>Here you can see examples of apps using akita-ng-fire</p>
  <article>
    <a mat-button routerLink="/movies">Collection of movies</a>
    <a mat-button routerLink="/company">Collection Group of companies participating to a movie</a>
    <a mat-button routerLink="/organization">See all Organizations</a>
    <a mat-button routerLink="/catalog">Catalog of movies</a>
    <a mat-button routerLink="/marketplace">Dynamic stores</a>
    <a mat-button routerLink="/vehicles">See Real Time Database</a>
  </article>
</section>

