# This is a basic workflow to help you get started with Actions

name: pull_request_build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the v3.0.0 branch
on:
  pull_request:
    branches:
    - v3.0.0

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: npm i and build
        run: |
          npm i
          npm run build:akita-ng-fire --prod

